*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/* Header */
header {
    display: flex;
    background-color: #001221;
    height: 64px;
    justify-content: space-between;
}

header h1{
    margin: auto 50px ;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 50px;
    height: 100%;
    align-items: center
}

header nav ul li a{
    text-decoration: none;
    font-weight: bolder;
}

/* Body */

body{
    background-image: linear-gradient(to top, #001845, #001233, #001233, #000000);
    
}

/* Main */

main section{
    display: grid;
    width: 50%;
    margin: 0 auto;
}

img{
    border-radius: 50%;
    width: 200px;
    margin: 64px auto 32px;
}

main section p{
    font-size: 24px;
    text-align: center;
    margin: 8px;
}

/* Article */

/* main article{
    display: flex;
} */

