*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/* Header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #001221;
    height: 64px;
    justify-content: space-between;
}

header h1{
    margin: auto 50px ;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 50px;
    height: 100%;
    align-items: center
}

header nav ul li a{
    text-decoration: none;
    font-weight: bolder;
}

/* Body */

body{
    background-image: linear-gradient(to top, #001845, #001233, #001233, #000000);
    
}

/* Main */

main section{
    display: grid;
    width: 50%;
    margin: 0 auto;
}

main section #myphoto{
    border-radius: 50%;
    border: 5px #4a4e69 solid;
    width: 200px;
    margin: 80px auto 32px;
}

main section p{
    font-size: 24px;
    text-align: center;
    margin: 8px;
}

/* Article */

main #article-skills{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 300px;    
}

/* Article Soft Skills*/

main #article-skills div h2{
    text-align: center;
}

main #article-skills div ul li:nth-child(1){
    margin-top: 16px;
}

main #article-skills div ul li{
    margin: 8px 0;
    text-align: center;
    list-style: none;
}

/* Article Hard Skills */

main #article-skills img{
    width: 50px;
}